html,
body,
div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
ul,
li,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 12px;
}

body,
html {
  min-width: 320px;
}

a {
  text-decoration: none;
  columns: #333;
}

.flex {
  display: flex;
}

.flex-con {
  flex: 1;
}
